
@-webkit-viewport{width:device-width;}
@-moz-viewport{width:device-width;}
@-ms-viewport{width:device-width;}
@-o-viewport{width:device-width;}
@viewport{width:device-width;}

.img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    &.img-cover   { background-size: cover; }
    &.img-contain { background-size: contain; }
    &.img-stretch { background-size: 100% 100%; }
}

.img-loading {
    background-color: rgba(255, 255, 255, 1);
    background-size: 32px 32px !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-image: url(../images/img-loading-fading-line.gif) !important;
}

.img-broken {
    background-color: rgba(255, 255, 255, 1);
    background-size: 32px 32px !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-image: url(../images/img-broken.png) !important;
}
