
@-webkit-viewport{width:device-width;}
@-moz-viewport{width:device-width;}
@-ms-viewport{width:device-width;}
@-o-viewport{width:device-width;}
@viewport{width:device-width;}

.background {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.img-loading {
    background-color: rgba(255, 255, 255, 1);
    background-size: 32px 32px !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}
