
/* path */

@font-face {
  font-family: 'iconfont';
  src: url('../fonts/iconfont/iconfont.eot'); /* IE9*/
  src: url('../fonts/iconfont/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont/iconfont.woff') format('woff'), /* chrome、firefox */
  url('../fonts/iconfont/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

/* core */

.iconfont {
  display: inline-block;
  font-family: IconFont !important;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-text-stroke-width: 0.2px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* size */

.iconfont-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  /*vertical-align: -15%;*/
}

.iconfont-2x { font-size: 2em; }
.iconfont-3x { font-size: 3em; }
.iconfont-4x { font-size: 4em; }
.iconfont-5x { font-size: 5em; }

.iconfont-fw {
  width: 1.28571em;
  text-align: center;
}

/* spinning */

.iconfont-spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

@-moz-keyframes spin {
  0% { -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(359deg); }
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(359deg); }
}
@-o-keyframes spin {
  0% { -o-transform: rotate(0deg); }
  100% { -o-transform: rotate(359deg); }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

/* logo brand */

.icon-logo-brand:before {
  content: "\e638";
  vertical-align: middle;
  font-size: 1.7em;
  margin-top: -0.05em;
}

.icon-logo-brand:after {
  content: "\e639\e63a\e63b";
  vertical-align: middle;
  letter-spacing: 0.15em;
}

/* icons */

.icon-music:before { content: "\e61a"; }
.icon-delete:before { content: "\e606"; }
.icon-focus:before { content: "\e607"; }
.icon-play:before { content: "\e602"; }
.icon-plane:before { content: "\e603"; }
.icon-man:before { content: "\e605"; }
.icon-ellipsis-h:before { content: "\e61d"; }
.icon-setting:before { content: "\e608"; }
.icon-equalizer:before { content: "\e60a"; }
.icon-display:before { content: "\e60d"; }
.icon-add-dash:before { content: "\e634"; }
.icon-function:before { content: "\e635"; }
.icon-picture-add:before { content: "\e615"; }
.icon-list-ol:before { content: "\e60e"; }
.icon-text:before { content: "\e61e"; }
.icon-location-arrow:before { content: "\e60f"; }
.icon-share-square:before { content: "\e60c"; }
.icon-woman:before { content: "\e610"; }
.icon-person:before { content: "\e613"; }
.icon-tag:before { content: "\e619"; }
.icon-inspiration:before { content: "\e609"; }
.icon-x:before { content: "\e627"; }
.icon-comment-alt:before { content: "\e612"; }
.icon-add:before { content: "\e600"; }
.icon-app:before { content: "\e601"; }
.icon-angle-top:before { content: "\e60b"; }
.icon-angle-left:before { content: "\e611"; }
.icon-menu:before { content: "\e617"; }
.icon-picture:before { content: "\e621"; }
.icon-refresh:before { content: "\e624"; }
.icon-angle-right:before { content: "\e625"; }
.icon-check-round:before { content: "\e626"; }
.icon-arrow-down:before { content: "\e62c"; }
.icon-arrow-left:before { content: "\e62d"; }
.icon-arrow-right:before { content: "\e62e"; }
.icon-arrow-up:before { content: "\e62f"; }
.icon-angle-down:before { content: "\e631"; }
.icon-tips:before { content: "\e61b"; }
.icon-user:before { content: "\e620"; }
.icon-edit:before { content: "\e632"; }
.icon-forbidden:before { content: "\e637"; }
.icon-location:before { content: "\e61f"; }
.icon-map:before { content: "\e614"; }
.icon-check-corner:before { content: "\e636"; }
.icon-home:before { content: "\e61c"; }
.icon-check:before { content: "\e604"; }
.icon-share:before { content: "\e616"; }
.icon-comment:before { content: "\e622"; }
.icon-camera:before { content: "\e618"; }
.icon-logo:before { content: "\e638"; }
.icon-brand-ba:before { content: "\e639"; }
.icon-brand-yin:before { content: "\e63a"; }
.icon-brand-he:before { content: "\e63b"; }
.icon-like:before { content: "\e623"; }
