
/* path */

@font-face {
  font-family: "ift";
  src: url("../fonts/ift0414/iconfont.eot"); /* IE9*/
  src: url("../fonts/ift0414/iconfont.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/ift0414/iconfont.woff") format("woff"), /* chrome、firefox */
  url("../fonts/ift0414/iconfont.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../fonts/ift0414/iconfont.svg#iconfont") format("svg"); /* iOS 4.1- */
}

/* core */

.ift {
  display: inline-block;
  font-family: ift !important;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-text-stroke-width: 0.2px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* size */

.ift-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

.ift-2x { font-size: 2em; }
.ift-3x { font-size: 3em; }
.ift-4x { font-size: 4em; }
.ift-5x { font-size: 5em; }

.ift-fw {
  width: 1.28571em;
  text-align: center;
}

/* spinning */

.ift-spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

@-moz-keyframes spin {
  0% { -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(359deg); }
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(359deg); }
}
@-o-keyframes spin {
  0% { -o-transform: rotate(0deg); }
  100% { -o-transform: rotate(359deg); }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

/* logo brand */

.ift-logo-brand:before {
  content: "\e664";
  font-size: 1.3em;
}

.ift-logo-brand:after {
  content: "\e649\e65c\e65f";
}

.ift-brand:before {
  content: "\e649\e65c\e65f";
}

/* icons */

.ift-plane:before { content: "\e670"; }
.ift-man:before { content: "\e671"; }
.ift-qrcode:before { content: "\e66c"; }
.ift-display:before { content: "\e672"; }
.ift-weibo:before { content: "\e63f"; }
.ift-location-arrow:before { content: "\e673"; }
.ift-woman:before { content: "\e674"; }
.ift-weixin:before { content: "\e638"; }
.ift-inspiration:before { content: "\e675"; }
.ift-refresh:before { content: "\e676"; }
.ift-location:before { content: "\e677"; }
.ift-text:before { content: "\e678"; }
.ift-volume-off:before { content: "\e66d"; }
.ift-brand-ba:before { content: "\e649"; }
.ift-brand-yin:before { content: "\e65c"; }
.ift-brand-he:before { content: "\e65f"; }
.ift-volume-up:before { content: "\e66e"; }
.ift-quote-left:before { content: "\e679"; }
.ift-quote-right:before { content: "\e67a"; }
.ift-logo:before { content: "\e664"; }
.ift-ellipsis-h-o:before { content: "\e67b"; }
.ift-edit-list-ul:before { content: "\e67c"; }
.ift-sliders:before { content: "\e67d"; }
.ift-shop-o:before { content: "\e67e"; }
.ift-plane-o:before { content: "\e67f"; }
.ift-compress:before { content: "\e680"; }
.ift-expand:before { content: "\e681"; }
.ift-share-o:before { content: "\e682"; }
.ift-reorder:before { content: "\e683"; }
.ift-pencil-add:before { content: "\e684"; }
.ift-share:before { content: "\e685"; }
.ift-notification:before { content: "\e686"; }
.ift-plus-circle:before { content: "\e600"; }
.ift-chevron-down:before { content: "\e601"; }
.ift-chevron-left:before { content: "\e602"; }
.ift-chevron-right:before { content: "\e603"; }
.ift-chevron-up:before { content: "\e604"; }
.ift-home:before { content: "\e605"; }
.ift-home-o:before { content: "\e606"; }
.ift-bars-alt:before { content: "\e607"; }
.ift-user:before { content: "\e608"; }
.ift-user-o:before { content: "\e609"; }
.ift-search:before { content: "\e60a"; }
.ift-users:before { content: "\e60b"; }
.ift-star:before { content: "\e60c"; }
.ift-arrow-down:before { content: "\e60d"; }
.ift-arrow-right:before { content: "\e60e"; }
.ift-arrow-left:before { content: "\e60f"; }
.ift-arrow-up:before { content: "\e610"; }
.ift-angle-down:before { content: "\e611"; }
.ift-angle-right:before { content: "\e612"; }
.ift-angle-left:before { content: "\e613"; }
.ift-angle-up:before { content: "\e614"; }
.ift-flag:before { content: "\e615"; }
.ift-bell:before { content: "\e616"; }
.ift-comment:before { content: "\e617"; }
.ift-share-square:before { content: "\e618"; }
.ift-comment-square-o:before { content: "\e619"; }
.ift-pencil-underline-o:before { content: "\e61a"; }
.ift-heart-o:before { content: "\e61b"; }
.ift-ellipsis-h:before { content: "\e61c"; }
.ift-cog-o:before { content: "\e61d"; }
.ift-share-square-o:before { content: "\e61e"; }
.ift-eye-o:before { content: "\e61f"; }
.ift-cube-o:before { content: "\e620"; }
.ift-clone:before { content: "\e621"; }
.ift-cloud-upload-o:before { content: "\e622"; }
.ift-trash-o:before { content: "\e623"; }
.ift-angle-circle-o-down:before { content: "\e624"; }
.ift-angle-circle-o-left:before { content: "\e625"; }
.ift-angle-circle-o-right:before { content: "\e626"; }
.ift-angle-circle-o-up:before { content: "\e627"; }
.ift-themes:before { content: "\e628"; }
.ift-heart:before { content: "\e629"; }
.ift-check-circle:before { content: "\e62a"; }
.ift-pencil-o:before { content: "\e62b"; }
.ift-times-circle:before { content: "\e62c"; }
.ift-themes-o:before { content: "\e62d"; }
.ift-shopping-bag-plus:before { content: "\e62e"; }
.ift-book-o:before { content: "\e62f"; }
.ift-cube:before { content: "\e630"; }
.ift-sections:before { content: "\e631"; }
.ift-pencil-underline:before { content: "\e632"; }
.ift-color-palette:before { content: "\e633"; }
.ift-music:before { content: "\e634"; }
.ift-paint:before { content: "\e635"; }
.ift-caret:before { content: "\e636"; }
.ift-invisible:before { content: "\e637"; }
.ift-user-alt-o:before { content: "\e63a"; }
.ift-info-circle-o:before { content: "\e63b"; }
.ift-edit:before { content: "\e63c"; }
.ift-lock-o:before { content: "\e63d"; }
.ift-phone-o:before { content: "\e63e"; }
.ift-reply:before { content: "\e640"; }
.ift-circle-o:before { content: "\e641"; }
.ift-circle:before { content: "\e642"; }
.ift-layout-o:before { content: "\e643"; }
.ift-layout:before { content: "\e644"; }
.ift-return:before { content: "\e645"; }
.ift-paint-bucket:before { content: "\e646"; }
.ift-ribbon:before { content: "\e647"; }
.ift-ribbon-o:before { content: "\e648"; }
.ift-tag:before { content: "\e64a"; }
.ift-picture-alt:before { content: "\e64b"; }
.ift-picture-booklet:before { content: "\e64c"; }
.ift-crop:before { content: "\e64d"; }
.ift-camera-o:before { content: "\e64e"; }
.ift-aspect-ratio:before { content: "\e64f"; }
.ift-plus:before { content: "\e650"; }
.ift-arrows:before { content: "\e651"; }
.ift-section-article-o:before { content: "\e652"; }
.ift-section-article:before { content: "\e653"; }
.ift-section-people-o:before { content: "\e654"; }
.ift-section-people:before { content: "\e655"; }
.ift-section-photo-o:before { content: "\e656"; }
.ift-section-photo:before { content: "\e657"; }
.ift-section-timeline-o:before { content: "\e658"; }
.ift-section-timeline:before { content: "\e659"; }
.ift-section-gallery-o:before { content: "\e65a"; }
.ift-section-gallery:before { content: "\e65b"; }
.ift-trash-alt-o:before { content: "\e65d"; }
.ift-bars:before { content: "\e65e"; }
.ift-booklet:before { content: "\e660"; }
.ift-map-marker:before { content: "\e661"; }
.ift-users-alt:before { content: "\e662"; }
.ift-signature:before { content: "\e663"; }
.ift-bar-chart:before { content: "\e665"; }
.ift-question:before { content: "\e666"; }
.ift-equalizer:before { content: "\e667"; }
.ift-spanner-o:before { content: "\e669"; }
.ift-volume-off-o:before { content: "\e66a"; }
.ift-times:before { content: "\e639"; }
.ift-section-weddinghero:before { content: "\e668"; }
.ift-section-weddinghero-o:before { content: "\e66b"; }
.ift-check:before { content: "\e66f"; }
.ift-cube-o-alt:before { content: "\e687"; }
