
.views-wrapper {
    width: 100%;
    overflow: hidden;
}

.view {
    width: 100%;
    position: relative;
    overflow-x: hidden;
    padding: 0;
    > header {
        padding: 20px;
        margin-top: 0;
        margin-bottom: 20px;
    }
    > footer {
        padding: 20px;
        margin-top: 20px;
        margin-bottom: 0;
    }
    > header.fixed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        margin: 0;
    }
    > footer.fixed {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        margin: 0;
    }
}
